<%- include('includes/head', {pageTitle: 'An Error Occured' }) %>

    </head>

    <body>
        <%- include('includes/header') %>
            <main>
                <h1>Something went Wrong!</h1>
                <p>Unfortunately, Something went wrong - please try again later!</p>
                <p><a class="btn" href="/">Back to safety!</a></p>
            </main>
            <%- include('includes/footer') %>