<%- include('../includes/head', {pageTitle: 'Signup' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('../includes/header') %>
            <main>
                <h1>Login</h1>
                <form action="/signup" method="POST">
                    <!-- Basic Authentication Info -->
                    <p>
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" required>
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" minlength="6" required>
                    </p>
                    
                    <button class="btn">Login</button>
                    <p id="switch-form"><a href="/signup">Create a new User!</a></p>
                </form>
            </main>
            <%- include('../includes/footer') %>